.body{
    background-color: #80dfff;
    color: #ffffff;
}
*{
    margin: 0;
    padding: 0;
}

.part{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.container{
    padding: 10px;
}
.bod{
    border: 2px solid #9f9f9f;
    border-radius: 12px;
}

/* Left Css*/
.row>.left{
    padding: 10px;
    border-right: 2px solid #9f9f9f;
}
.left>.inp{
    padding: 5px;
    align-items: center;
    font-size: 20px;
}
.inp>.srch{
    padding: 10px;
    color: #ffffff;
    background: #000;
}
.inp>span{
    padding: 4px;
    border: 2px solid black;
    border-radius: 25px;
}
.inp>span>i{
    margin-left: 6px;
    padding: 2px;
    font-size: 20px;
    margin-right: 2px;
}
.input{
    padding: 2px;
    padding-left: 20px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #000;
}

.inp>button{
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 22px;
    padding-bottom: 12px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #000;
    cursor: pointer;
}

/* display Css */
.row .display{
    padding: 20px;
    /* padding-top: 40px; */
}
.row .main{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.display>.crd{
    margin-top: 10px;
    margin-left: 0.2px;
}

.card>h3{
    padding-left: 25px;
}
/* Right CSS */
.row>.right{
    padding-left: 50px;
}
.right{
    padding: 10px;
    padding-left: 60px;
    margin-left: 2px;
}
.right>.hourly{
    height: 240px;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    padding-bottom: 0px;
    border: 1px solid black;
    border-radius: 12px;
    color: #ffffff;
    background: #000;
}
/* Hourly Container */
.hourly>#box{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    overflow-x: scroll;
}
.cd{
    width: max-content;
    padding: 10px;
    margin-right: 5px;
}

::-webkit-scrollbar{
  width: 1px;
  height: 8px;
}
::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: #565656;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
  background: #9f9f9f;
}

.right>.forecast{
    height: 270px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 12px;
    color: #ffffff;
    background: #000;
}
.forecast>#box1{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    overflow-x: scroll;
}
#box1>.cd{
    width: max-content;
    padding: 10px;
    margin-right: 5px;
}